{
    "extends": [
        "eser-react"
    ],
    "env": {
        "commonjs": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "jsx-a11y/href-no-hash": 0
    }
}
